<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Line UP PUC</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo-container">
                <img src="https://lh5.googleusercontent.com/proxy/zbybYpoSqp_RmJJXjrx52RAh5F5cTifkBsn0Epvu_7a9JmYIggWPgkbhxvlf0DPtWyK5R9GlKU3GIF5QKx-9qQ" alt="Logo PUC-Rio" class="logo">
            </div>
            <div class="title-container">
                <h1>Line U Puc</h1>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Line U Puc - Início</a></li>
                <li><a href="{% url 'calendario' %}">Calendário</a></li>
                <li><a href="{% url 'inscrever_se' %}">Inscreva-se agora</a></li>
                <li><a href="#fale-conosco">Fale conosco</a></li>
                <li><a href="{% url 'faq' %}">FAQ</a></li>
                <li><a href="{% url 'iniciar_sessao' %}">Iniciar Sessão</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <img src="https://s2-oglobo.glbimg.com/Ra88ignjbRrkRtcFiAvBOfO_YhY=/0x0:4288x2848/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_da025474c0c44edd99332dddb09cabe8/internal_photos/bs/2024/3/u/yvzu2BSmCqQDGOf4CQzQ/17-09-27-pilotis-puc-assessoria-2matheus-aguiar.jpg" alt="Auditório PUC-Rio com público" class="hero-image">
    </section>

    <main>
        <section class="welcome">
            <h2>Bem-vindo ao <strong>Line UP PUC</strong></h2>
            <p>Conectando os talentos artísticos da PUC-Rio com o público universitário!
                O <strong>Line UP PUC</strong> é uma plataforma dedicada a promover <strong>artistas independentes</strong>
                e a divulgar eventos culturais no campus. Aqui, você encontra um espaço para
                apresentações ao vivo e pode explorar a rica diversidade artística da nossa
                universidade.</p>
            <p>Se você é um <strong>artista</strong> em busca de uma oportunidade para se apresentar, inscreva-se
                agora e faça parte da nossa programação de eventos. Se faz parte do público, confira
                os próximos shows e performances e venha prestigiar os talentos que fazem parte
                da PUC-Rio.</p>
        </section>
    </main>
</body>
</html>